.component-scanner-qr{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.component-header-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}
.tittle-footer h2{
    margin-left: 16px;
    
    color: #EAEAEA;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.tittle-footer p{
    margin-left: 16px;
    margin-right: 16px;
    color: #EAEAEA;
    font-size: 12px;
    font-weight: 600;
    line-height: 20.5px;
}
.contend-array-footer{
    margin: 0 16px;
    display: flex;
}
.contend-array-footer h3{
    color: #EAEAEA;
    margin-left: 16px;
}
.code-qr{
    height: 150px;
    width: 150px;
}
.contend-code-qr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.ul-conten-array-qr{
    list-style: none;
    margin: 0;
    padding: 0;
}
.scroll-arra-qr{
    overflow: auto;
    width: 100%;
    height: 69vh;
}

@media screen and (min-width: 680px) {
    .component-scanner-qr {
        width:400px;
        height: 860px;
    }
  }